
html{
    background-color:rgb(243, 241, 241);
        font-family: "Open Sans";

}

h1,h2,h3,h4,h5,h6{
    font-weight: 300;

}

.heading{
    font-size: 38px;
}

#logo{
    width: 100px;
    height:100px;

}
.center{
    display: block;
    margin-left: auto;
    margin-right:auto;
}

.heading,
.recipe-title{
    text-align: center;
}
.pizza
{
    height:400px;
    width:800px;
}
.pb-image{
    height:400px;
    width: 800px;
}